@charset "UTF-8";
/* цвет основного контента #757575 */
/* вторичный цвет контента #212121; */
/* цвет акцента #2196F3 */
/* цвет секции герой #2f303a */
/* цвет main #e5e5e5 */
/* цвет элементов address rgba(255, 255, 255, 0.6 */
/* цвет секции с карточками #F5F4FA */
:root {
  --main-content-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primery-background: #ffffff;
  --color-element-address: rgba(255, 255, 255, 0.6);
  --background-hero-footer: #2f303a;
  --page-color: #e5e5e5;
  --section-cards: #f5f4fa;
  --color-border: #ececec;
}

h1 h2 h3 h4 h5 h6 p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

header {
  border-bottom: 1px solid var(--color-border);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03;
  color: var(--main-content-color);
  background-color: var(--primery-background);
}

/* навигация сайта */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .page-header {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .page-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header__container-nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .page-header__container-nav {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .page-header__container-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container-nav {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container-nav {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav .main-nav__items:not(:last-child) {
    margin-right: 50px;
  }
}

.main-nav__items {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .main-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.active {
  color: black;
}

/* навигация контакты */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 84px;
  }
  .contacts .contacts__nav:last-child {
    margin-left: 0px;
  }
}

.contacts__nav {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts__nav:last-child {
  margin-left: 30px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-content-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.contacts__tel {
  margin-right: 10px;
}

.contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--main-content-color);
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacts__icon:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__img {
  width: 10px;
  height: 16;
}

/* секция Герой */
.hero {
  background-color: var(--background-hero-footer);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-hero-footer);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges/back.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primery-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primery-background);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

/* ============== метод работы=============== */
.method-work {
  padding-left: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .method-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .method-work__card {
    width: calc((100% - 2 * 30px) / 2);
    text-align: start;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .method-work__card {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (min-width: 767px) {
  .method-work__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.method-work__specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--section-cards);
  margin-bottom: 30px;
}

.method-work__img {
  width: 70px;
  height: 70px;
}

.method-work__title {
  margin: 0 0 10px 0;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.method-work__text {
  line-height: 1.71;
  margin: 0;
  text-align: start;
}

/* секция с классом specificity */
.hidden-title {
  margin: 0;
  font-size: 0px;
}

/* секция "Чем мы занимаемся" */
.proposals-work {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .proposals-work {
    display: none;
  }
}

.proposals-work__title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.proposals-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.proposals-list__text {
  position: absolute;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  bottom: 0px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  color: var(--primery-background);
  background-color: rgba(47, 48, 58, 0.8);
}

.proposals-list__card {
  position: relative;
}

.proposals-list__card:not(:last-child) {
  margin-right: 30px;
}

/* =============Секция наша команда=========== */
.section.our-team {
  background-color: var(--section-cards);
}

.our-team__headline-title {
  font: weight 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-cards__text {
  margin: 0;
  line-height: 1.71;
}

.team-cards {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .team-cards {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-cards__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  position: relative;
  background-color: var(--primery-background);
}
@media screen and (min-width: 768px) {
  .team-cards__img {
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.team-cards__position {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-cards {
  background-color: var(--section-cards);
}

/* ==========список соц-сетей========== */
.social-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.social-list__link {
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__link {
  fill: #afb1b8;
}

.social-list__icon:hover {
  fill: var(--primery-background);
  background-color: var(--accent-color);
}

.social-list__link + .social-list__link {
  margin-left: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0 0 30px 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ============Постоянные клиенты========== */
.clients-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-label__img:hover {
  fill: var(--accent-color);
}

.clients-label__img {
  fill: #afb1b8;
  padding: 15px 27px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.clients-label__item:hover {
  border: 1px solid var(--accent-color);
}

.clients-label__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}
@media screen and (max-width: 767px) {
  .clients-label__item {
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.clients-icon {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-icon__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer .footer-address__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer .address-list {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer__container {
    text-align: start;
  }
  .footer .footer__address {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.address-list__link {
  margin-bottom: 9px;
}

.address-list > .address-list__list:nth-child(2) {
  display: block;
  margin-bottom: 9px;
}

.address-list__link {
  color: var(--color-element-address);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.address-list__adrress {
  margin: 0 0 9px 0;
  font-style: normal;
  font-size: 14px;
  color: var(--primery-background);
}

.address-list__link:hover,
.addres-list__link:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
}

.footer-logo__logo {
  margin-bottom: 20px;
}

.footer-logo--inverse {
  color: var(--primery-background);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Логотип */
.logo {
  display: inline;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 0;
}

.logo__studio {
  color: var(--secondary-text-color);
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
  }
}

.social-footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social {
  margin: 0;
  padding: 0;
}

.social-footer__link-icon {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.social-footer__link-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.social-footer__link-icon:hover {
  fill: var(--primery-background);
  background-color: var(--accent-color);
}

.social-footer__text {
  color: var(--primery-background);
  margin: 0 0 20px 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-footer__icon-link + .social-footer__icon-link {
  margin-left: 10px;
}

/* =================модальное оено============== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 528px;
  padding: 40px;
  background-color: var(--primery-background);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primery-background);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--secondary-text-color);
}

.modal-btn:focus {
  fill: var(--accent-color);
}

.modal-btn__icon {
  width: 30px;
  height: 30px;
}

/* ==============форма в модальном окне============== */
.btn-form {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primery-background);
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: var(--accent-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.btn-form:focus {
  outline-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__text {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form-field {
  position: relative;
  margin-bottom: 28px;
  display: block;
}

.form-field--feedback {
  margin-bottom: 20px;
}

.form-field__form-label {
  position: absolute;
  top: -8px;
  left: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__input-form {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field__input-form--textarea {
  min-height: 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field__input-form::-webkit-input-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input-form::-moz-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input-form:-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input-form::-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input-form::placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within > .form-field__input-form--textarea {
  outline-color: var(--accent-color);
  outline-style: 1px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: outline-color;
  transition-property: outline-color;
}

.form-field:focus-within > .form-field__input-form {
  outline-color: var(--accent-color);
  outline-style: 1px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: outline-color;
  transition-property: outline-color;
}

.form-field:focus-within > .form-field__icon-form {
  fill: var(--accent-color);
}

.form-field__icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.form-field__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-field--check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-field__checkbox-icon {
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  display: inline-block;
  margin-right: 7px;
}

.form-field__checkbox:checked + .form-field__checkbox-icon {
  background-color: var(--accent-color);
  background-size: cover;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.form-field__form-link {
  color: var(--accent-color);
  text-decoration: underline;
}

/* ===================форма в футере============= */
.form-footer {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .form-footer {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: auto;
  }
}

.form-footer__decore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .form-footer__decore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-footer__input-footer:focus {
  outline-color: var(--accent-color);
  outline-style: 1px;
  border-color: var(--accent-color);
}

.form-footer__input-footer {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 0;
  padding-left: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--background-hero-footer);
  outline-style: none;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer::-webkit-input-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer::-moz-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer:-ms-input-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer::-ms-input-placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input-footer::placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__text {
  margin: 0;
  margin-bottom: 20px;
  color: var(--primery-background);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ========список кнопок в портфолио======== */
.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}

.button-list__button:not(:last-child) {
  margin-right: 8px;
}

.button-list__button {
  display: block;
  background: var(--section-cards);
}

.button-list__btn {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}

.button-list__btn:hover,
.button-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--primery-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-footer {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--primery-background);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
}
.button-menu .button-menu__close {
  display: none;
}
.button-menu.is-open .button-menu__close {
  display: block;
}
.button-menu.is-open .button-menu__menu {
  display: none;
}

.button-menu__menu {
  fill: black;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    width: 101%;
    top: 0;
    left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: white;
    display: none;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .button-menu {
    display: none;
  }
}
/* ==============backdrop=========== */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: all;
  transition-property: all;
}/*# sourceMappingURL=main.css.map */