/* цвет основного контента #757575 */
/* вторичный цвет контента #212121; */
/* цвет акцента #2196F3 */
/* цвет секции герой #2f303a */
/* цвет main #e5e5e5 */
/* цвет элементов address rgba(255, 255, 255, 0.6 */
/* цвет секции с карточками #F5F4FA */

:root {
  --main-content-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primery-background: #ffffff;
  --color-element-address: rgba(255, 255, 255, 0.6);
  --background-hero-footer: #2f303a;
  --page-color: #e5e5e5;
  --section-cards: #f5f4fa;
  --color-border: #ececec;
}
