/* навигация сайта */
.page-header__container-nav {
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  display: flex;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
  }
}

// .page-header__container-nav {
//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   display: flex;
//   align-items: center;
// }
.page-header__nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 93px;
  @media screen and(max-width:767px) {
    display: none;
  }
}
.main-nav__items {
  margin: 0;
  align-items: center;
}

.main-nav__items:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.main-nav__link {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.active {
  color: black;
}
/* навигация контакты */
.contacts {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 300px;
  align-items: center;
  flex-wrap: nowrap;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
    .contacts__nav:last-child {
      margin-left: 0px;
    }
    margin-left: 0px;
  }
}
.contacts__nav {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contacts__nav:last-child {
  margin-left: 30px;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-content-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts__mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.contacts__tel {
  margin-right: 10px;
}
.contacts__icon {
  display: flex;
  fill: var(--main-content-color);
  align-content: center;
}
.contacts__icon:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__img {
  width: 10px;
  height: 16;
}
