/* ============== метод работы=============== */
// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.method-work {
  padding-left: 0;
  margin: 0;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.method-work__card {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    text-align: start;
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}
// .method-work__card:not(:last-child) {
//   margin-right: 30px;
// }
@media screen and (min-width: 767px) {
  .method-work__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.method-work__specification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--section-cards);
  margin-bottom: 30px;
}
.method-work__img {
  width: 70px;
  height: 70px;
}
.method-work__title {
  margin: 0 0 10px 0;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.method-work__text {
  line-height: 1.71;
  margin: 0;
  text-align: start;
}
