/* секция Герой */
.hero {
  background-color: var(--background-hero-footer);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-hero-footer);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../imeges/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primery-background);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  align-items: center;
  color: var(--primery-background);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
