/* ========список кнопок в портфолио======== */
.button-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}
.button-list__button:not(:last-child) {
  margin-right: 8px;
}
.button-list__button {
  display: block;
  background: var(--section-cards);
}
.button-list__btn {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, box-shadow;
}

.button-list__btn:hover,
.button-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--primery-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn-footer {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--primery-background);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  .button-menu__close {
    display: none;
  }
  &.is-open {
    .button-menu__close {
      display: block;
    }
  }
  &.is-open {
    .button-menu__menu {
      display: none;
    }
  }

  // @media screen and(min-width:768px) {
  //   display: none;
  // }
}
.button-menu__menu {
  fill: black;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    width: 101%;
    top: 0;
    left: 0;
    justify-content: flex-start;
    background-color: white;
    display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    position: static;
    display: block;
  }
}
